<form [formGroup]="group">
  <input type="text" formControlName="searchTerm" placeholder="searchTerm" />
  <input type="checkbox" formControlName="showErrors" />
  <div formGroupName="nested">
    <input type="input" formControlName="a" placeholder="nested.a" />
  </div>
  <select formControlName="issues" multiple>
    <option *ngFor="let item of items" [value]="item">{{ item }}</option>
  </select>
  <button>Submit</button>
</form>

<button (click)="patch()">Patch value</button>
<button (click)="reset()">Reset</button>

{{ group.value | json }}
